.title-search {
  text-align: center;
  margin-top: 30px;
}
.search-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.btn {
  margin-left: 10px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
}
.btn-load {
  margin-left: 0;
  margin-bottom: 10px;
}
.btn-load.is-hidden {
  display: none;
}
.container {
  text-align: center;
}
.gallery {
  padding-left: 30px;
  margin: 0;

  list-style: none;
}
.stats {
  display: flex;
  justify-content: center;
}
.stats-item:not(:last-child) {
  margin-right: 10px;
}
